/CombinedCommitter.class
/Committer.class
/Conciliator.class
/Coverage.class
/CoverageComparator.class
/Dependencies.class
/EditedFile.class
/FileDependencies.class
/IconManager.class
/MedalBronze.class
/Medalist.class
/MedalistComparator.class
/Merge.class
/MergeCommits.class
/MergeFiles.class
/QuantityComparator.class
/RankingGenerator.class
/RepoCommits.class
/RepoFiles.class
/Repository.class
/SortByCommit.class
