/AccuracyToTime.class
/Analyzer.class
/CoverageAnalysis.class
/CoverageCompare.class
/EasyRankingGenerator.class
/LastCommit$1.class
/LastCommit$2.class
/LastCommit.class
/MajorityClass.class
/MergeVerification.class
/MergesCounter.class
/MergesCounter1.class
